<h1>
  Random Results
</h1>
<p>
  Minimum
</p>
<p>
  <%= @user_min %>
</p>
<p>
  Maximum
</p>
<p>
  <%= @user_max %>
</p>
<p>
  Random Number
</p>
<p>
  <%= @random_number %>
</p>
<p>
  <a href="http://www.example.com/random/results?user_min=<%= @user_min %>&user_max=<%= @user_max %>">
    Recalculate
  </a>
</p>
